@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-color: #f0e9e9;
  --background-start-color: #D6DBDC;
  --background-end-color: #FFFFFF;
  --primary-color: #2196F3; /* Blue color */
  --blue-1: #014474;
  --blue-2: #176B87;
  --blue-3: #64a6cc;
  --blue-4: #e3e7e770;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #FFFFFF;
    --background-start-color: #fffbfb;
    --background-end-color: #ffffff;
  }
}



/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* Use the primary color as scrollbar thumb color */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); /* Use the primary color as scrollbar thumb color */
}



/* Example usage of the additional colors */
.my-element {
  background-color: var(--color-1); /* Use the color #001C30 */
  color: var(--color-2); /* Use the color #176B87 */
  border-color: var(--color-3); /* Use the color #64CCC5 */
}

.another-element {
  color: var(--color-4); /* Use the color #DAFFFB */
}
